:root {
    --border: 1px solid rgba(255,255,255,0.2);
    --accent: rgb(12,12,12);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%; width: 100%;
}

.root {
    height: 100vh; width: 100vw;
    background: rgb(1,1,1);
    display: flex;
    flex-direction: row;

    .left {
        padding: 20px;
        flex: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .icon {
            display: flex;
            place-items: center;
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Google_Favicon_2025.svg/960px-Google_Favicon_2025.svg.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 30px; width: 30px;
        }

        .nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            div {
                cursor: pointer;
                display: flex;
                place-items: center;
                border-radius: 150px;
                padding: 10px;
                background: var(--accent);

                i {
                    color: white;
                    font-size: 20px;
                }
            }
        }



        .about {
            padding: 10px;
            display: flex;
            place-items: center;
            cursor: pointer;

            @keyframes shake {
                0% {
                    transform: rotate(0);
                } 30% {
                    transform: rotate(-15deg);
                } 60% {
                    transform: rotate(15deg);
                } 100% {
                    transform: rotate(0);
                }
            
            }



                i {
                    color: white;
                    font-size: 20px;
                }

        }

    }

    .right {
        flex: 1;
    }

}

.about:hover i {
    color: red;
}
