:root {
    --border: rgba(100,100,100,0.1) 1px solid;
    --bg-2: rgb(2,2,2);
}

* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background: rgb(1,1,1);
    width: 100%; height: 100%;
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

svg {
    fill: white;
    height: 20px;
     width: 20px;
}

.arch {
        fill: #1793D1 !important;
}

.phpmyadmin {
        fill: #6C78AF !important;
}

.button {
    display: flex;
    place-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
        animation: shake 0.35s ease-in-out forwards;
    }
}

.container {
    height: 100vh; width: 100vw;
    background: rgb(1,1,1);
    display: flex; 
    flex-direction: row;
    padding: 5px;

    .main {
        display: flex; 
        flex-direction: column;
        flex: 1;
        padding: 20px 20px;
        gap: 20px;

        .top {
            display: flex; 
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            padding: 5px;
            user-select: none;

            .top-section1 {
                color: white;
            }

            .top-section2 {
                color: rgba(255,255,255,0.6);
                margin-top: -1px;
                padding: 0 12px;
                font-size: 13px;                
            }
        }

        .before-home {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 5px;

            .get-in-touch {
                background: transparent;
                cursor: pointer;
                user-select: none;
                color: rgb(255,255,255);
                border: var(--border); border-radius: 8px;
                padding: 5px;
                font-size: 10px;
                transition: all 0.15s ease-in-out;

                &:hover {
                    background: rgba(255,255,255,0.2);
                }
            }
        }

        .home {
            display: flex;
            flex-direction: row;
            background: var(--bg-2);
            padding: 10px;
            gap: 5px;

            .home-left {
                overflow-y: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                flex: 2;
                max-height: 900px;
                height: 80vh;

                .section {
                    padding: 5px;
                    text-wrap: wrap;

                    .title {
                        user-select: none;
                        color: white;
                        font-size: 14px;
                    }

                    .special {
                        text-align: left !important;
                    }

                    .desc {
                        text-align: justify;
                        color: rgba(255,255,255,0.6);
                        padding: 0 12px;
                        margin-top: -6px;
                        font-size: 11px;
                        font-family: 'Courier New', Courier, monospace;
                    }

                    .stack {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;

                        .stack-list {
                            padding: 5px;
                            background: var(--bg-2);
                        }

                        .gnu-nano {
                            background: var(--bg-2) !important;
                        }
                    }

                    .project-container {
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        overflow-y: auto;
                        height: 300px;

                        .project {
                            padding: 15px;
                            border: var(--border);
                            display: flex;
                            flex-direction: column;
                            
                            .project-name {
                                color: white;
                                font-size: 15px;
                            }

                            .project-description {
                                color: rgba(255,255,255,0.6);
                                font-size: 10px;
                            }

                            .project-date {
                                color: rgba(255,255,255,0.6);
                                font-size: 10px;
                                margin-bottom: 0;
                            }

                            * {
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }

            .home-right {
                display: flex;
                flex-direction: column;
                flex: 0;
                border-left: var(--border);
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0;
        padding: 20px 5px;

        .right-top {
            display: flex;
            flex-direction: column;
        }

        .right-bottom {
            display: flex;
            flex-direction: column;

            .button svg {
                transition: all 0.15s ease-in-out;
                &:hover {
                    fill: rgba(255,255,255,0.6);
                }
            }
        }
    }
}

#menu.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translate(500px, -50%);
}

#menu {
    transform: translateX(0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    top: 50%; right: 0;
    transform: translateY(-50%);
    display: flex;
    height: 30rem; width: 13rem;
    background: var(--bg-2);
    border: var(--border);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.35s ease-in-out;

    .document-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .menu-btn {
        text-align: left;
        background: transparent;
        border: var(--border);
        color: white;
        padding: 5px;
        display: flex;
        flex-direction: row;
        place-items: center;
        
        span {
            margin-left: 10px;
        }
    }

}

#overlay.overlay-hidden {
    
}

#overlay {
    background: rgba(1,1,1,0.7);

}

@media (max-width: 620px) {
    .home-right {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }
}